*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    font-size: 16px;
    background-color: #eee;
}
h1{
    font-size: 1.2rem;
}
h2{
    font-size: 1.1rem;
}
header ,footer{
    background-color: #fff;
    text-align: center;
    padding: 10px;
    font-size: large;
}
form{
    background-color: aliceblue;
    text-align: center;
    margin: auto;
    max-width: 500px;
    padding: 20px;
    margin-top: 10px;
}
form input,
form select{
    width: 100%;
    padding: 10px;
    margin: 5px;
    box-sizing: border-box;
   
}
.ticket {
    background-color: aliceblue;
    text-align: center;
    margin: auto;
    max-width: 500px;
    padding: 20px;
    margin-top: 10px;
    
}
.ticket h2{
    margin-bottom: 10px;
}
.ticket label{
    min-width: 150px;

}